<h1>All Lists</h1>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= asset_path("r2.jpg")%>'">
  <div class="container">
    <h1>My Movies list <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
    <p>Benchmark your movies.</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>
<%= link_to 'New List', new_list_path %>
<div class="cards">
  <% @lists.each do |list| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= asset_path("r2.jpg")%>'">
      <%= link_to list.name, list_path(list) %>
    </div>
  <% end %>
</div>
